<div class="audio-message-recorder">
    <div class="audio-message-recorder-first">
        <div class="audio-message-recorder-first-inner">
            <div class="message-recorder-audio-container">
                <canvas width="300" height="100" @ref="canvasElRef"></canvas>
            </div>
            <div class="audio-overlay-div">
                <RadzenButton Style="background-color: transparent;" Disabled=@isSelectSourceDisable Click=SelectMediaSource Icon="mic" />
                <RadzenButton Style="background-color: transparent;" title="Record" Icon="voicemail" Disabled=@isRecordDisabled Click="@(() => StartRecording())"></RadzenButton>
                <RadzenButton Style="background-color: transparent;" title="Pause" Icon="pause" Disabled=@isPauseDisabled Click="@(() => PauseRecording())"></RadzenButton>
                <RadzenButton Style="background-color: transparent;" title="Stop" Icon="stop" Disabled=@isStopDisabled Click="@(() => StopRecording())"></RadzenButton>

                <RadzenButton Disabled="@isDiscardDisabled" Style="background-color: transparent;" Icon="delete" title="Discard" Click="@(() => DeleteRecording())"></RadzenButton>
            </div>
        </div>
    </div>
</div>

@code {

}
